h1 {
  margin: 1rem 0 0;
}
h1 a {
  color: #fff;
  font-size: 1.5rem;
}
.searchForm--wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.card {
  background-color: transparent;
  margin: 0 auto 2.5rem;
}

.card--small {
  max-width: 30rem;
}

.input, .textarea, .react-autocomplete-input {
  background-color: #282f2f;
  color: #fff;
}

.react-autocomplete-input > li.active {
 background-color: tomato;
}

::placeholder {
  color: #fff;
}

.table td.new {
  color: gold;
}

.table td.deaths {
  color: tomato;
}