h1 {
  margin: 1rem 0 0;
}
h1 a {
  color: #fff;
  font-size: 1.5rem;
}
.searchForm--wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.card {
  background-color: transparent;
  margin: 0 auto 2.5rem;
  max-width: 98%;
}

.card--small {
  max-width: 30rem;
}

.input, .textarea, .react-autocomplete-input {
  background-color: #282f2f;
  color: #fff;
}

.react-autocomplete-input > li.active {
 background-color: tomato;
}

::placeholder {
  color: #fff;
}

.table td.new {
  color: gold;
}

.table td.deaths {
  color: tomato;
}

.container--main {
  min-height: calc(100vh - 5rem);
}

.footer {
  text-align: center;
  padding: 1.5rem 0;
  color: silver;
  min-height: 5rem;
  box-sizing: border-box;
  border-top: 2px solid #343c3d;
}

.footer a {
  text-decoration: underline;
  color: silver;
}

.react-amazing-table-sorter th.-can-sort span {
  position: relative;
  width: 100%;
  display: block;
}

.react-amazing-table-sorter th.-can-sort span:after {
  right: 0;
}
.react-amazing-table-sorter th.-can-sort span.-sort-up:after {
  border-width: 0 .5rem .5rem .5rem;
  border-color: transparent transparent #fff transparent;
}

.react-amazing-table-sorter th.-can-sort span.-sort-down:after {
  border-width: .5rem .5rem 0 .5rem;
  border-color: #fff transparent transparent transparent;

}
